<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>xyz.priddle.synergyc</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Applications/Synergy.app/Contents/MacOS/synergyc</string>
      <string>--no-daemon</string>
      <string>--no-tray</string>
      <string>--debug</string>
      <string>INFO</string>
      <string>--name</string>
      <string>Coruscant</string>
      <string>--enable-drag-drop</string>
      <!-- <string>--enable-crypto</string> -->
      <string>--log</string>
      <string>/Users/priddle/Library/Logs/synergyc.log</string>
      <string>10.0.1.70:24800</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>
