[submodule "Library/Application Support/TextMate"]
	path = Library/Application Support/TextMate
	url = git://github.com/itspriddle/textmate-config.git
[submodule "Library/Application Support/vim/config"]
	path = Library/Application Support/vim/config
	url = git://github.com/itspriddle/vim-config
[submodule "Library/Application Support/zsh"]
	path = Library/Application Support/zsh
	url = git://github.com/itspriddle/zsh-config
[submodule "zsh"]
	path = zsh
	url = git://github.com/itspriddle/zsh-config
[submodule "vim"]
	path = vim
	url = git://github.com/itspriddle/vim-config
