[submodule "Library/Application Support/TextMate"]
	path = Library/Application Support/TextMate
	url = git://github.com/itspriddle/textmate-config.git
[submodule "zsh"]
	path = zsh
	url = git://github.com/itspriddle/zsh-config.git
[submodule "vim"]
	path = vim
	url = git://github.com/itspriddle/vim-config.git
