[client]
user=root

[mysqld_safe]
socket = /tmp/mysql.sock

[mysqld]
query_cache_size        = 4M
query_cache_limit       = 32M
tmp_table_size          = 32M
max_heap_table_size     = 32M
thread_cache_size       = 4
table_cache             = 80
innodb_buffer_pool_size = 2G
key_buffer_size         = 40M

