/**
 * Safari CSS customizations
 *
 * To install: save this file, visit Safari > Preferences > Advanced, click the
 * "Style sheet" dropdown and select this file. Restart Safari when done or
 * edits are made to this file.
 */

/**
 * reddit.com: Hide new reddit design nags
 */
body.loggedin section.onboardingbar,
body.loggedin #sr-header-area .width-clip button.redesign-beta-optin {
  display: none!important;
}

/**
 * jira.com: Fix card titles on the board-view so that they aren't truncated.
 */
body#jira .ghx-issue-fields .ghx-summary .ghx-inner {
  max-height: none!important;
}

/**
 * jira.com: Fix "Issue Links" summaries so they aren't truncated.
 */
body#jira .links-list .link-content .link-summary {
  white-space: normal!important;
}
